<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="menu"
    class="menu"
    (click)="sidenav.toggle()"
  >
  <mat-icon>menu</mat-icon>
  </button>

  <button mat-button [routerLink]="['./']"
  (click)="sidenav.close()"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }">Home</button>

  <button mat-button [routerLink]="['./data']"
  (click)="sidenav.close()"
  routerLinkActive="active">Data</button>

  <button mat-button  [routerLink]="['./details/1']"
  (click)="sidenav.close()"
  routerLinkActive="active">Details (1)</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [disableClose]="false" mode="over" #sidenav>
    <mat-nav-list>
      <a
        id="home"
        mat-list-item
        [routerLink]="['./']"
        (click)="sidenav.close()"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListAvatar>home</mat-icon>
        <h3 matLine>Home</h3>
        <p matLine>sample home page</p>
      </a>
      <a
        id="sampleData"
        mat-list-item
        [routerLink]="['./data']"
        (click)="sidenav.close()"
        routerLinkActive="active"
      >
        <mat-icon matListAvatar>grid_on</mat-icon>
        <h3 matLine>Data</h3>
        <p matLine>sample data page</p>
      </a>
      <a
      id="details"
      mat-list-item
      [routerLink]="['./details/1']"
      (click)="sidenav.close()"
      routerLinkActive="active"
    >
      <mat-icon matListAvatar>description</mat-icon>
      <h3 matLine>Details</h3>
      <p matLine>details page</p>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
