@use '@angular/material' as mat;
@import '@angular/material/theming';

$my-pink: (
    50 : #fcf3f3,
    100 : #f9e0e0,
    200 : #f5cccc,
    300 : #f0b8b8,
    400 : #eda8a8,
    500 : #ea9999,
    600 : #e79191,
    700 : #e48686,
    800 : #e17c7c,
    900 : #db6b6b,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffeaea,
    A700 : #ffd0d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// custom primary palettes
$custom-dark-theme-primary: mat.define-palette($my-pink);
$custom-dark-theme-accent: mat.define-palette(mat.$blue-palette);
$custom-dark-theme-warn: mat.define-palette(mat.$red-palette);

$custom-dark-theme: mat.define-dark-theme(
  $custom-dark-theme-primary,
  $custom-dark-theme-accent,
  $custom-dark-theme-warn
);


