<div class="content">
  <div class="upload">
    <div>
      <button mat-raised-button (click)="upload()">Upload file</button>
    </div>
    <label mat-label *ngIf="uploadSuccess"
      >The file was upload succesfully!</label
    >
    <label mat-label *ngIf="uploadFail"
      >There was an error uploading the file</label
    >
    <input
      type="file"
      #fileUpload
      name="fileUpload"
      accept="*"
      style="display: none"
    />
  </div>

  <!-- <div class="download">
    <mat-form-field>
      <mat-label>ID of file to retrieve</mat-label>
      <input matInput placeholder="10" [(ngModel)]="idFileToRetrieve" />
    </mat-form-field>
    <button mat-raised-button (click)="download()">Download file</button>
  </div>
</div> -->

  <mat-progress-bar
    *ngIf="fileInProgress"
    [value]="fileProgress"
  ></mat-progress-bar>
</div>
