.container{
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
[nz-carousel-content] {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
      }

      h3 {
        color: #fff;
        margin-bottom: 0;
      }

nz-content{
  padding: 0 30px 0 30px;
}
