@use '~@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 700);
$accent:  mat.define-palette(mat.$orange-palette, 800);

$warn:    mat.define-palette(mat.$red-palette, 600);

$theme: mat.define-light-theme($primary, $accent, $warn);

$foreground: map-get($theme, foreground);

@include mat.all-component-themes($theme);