<div>
        <mat-card class="favorite-elements-float example-element-card">
                <div class="example-element-diagram">
                    <div class="example-element-position"> {{element.position}} </div>
                    <div class="example-element-symbol"> {{element.symbol}} </div>
                    <div class="example-element-name"> {{element.name}} </div>
                    <div class="example-element-weight"> {{element.weight}} </div>
                </div>
                <div class="example-element-description">
                        {{element.description}}
                        <span class="example-element-description-attribution"> -- Wikipedia </span>
                      </div>
            </mat-card>
</div>
